#footer {
    text-align: center;
    font-family: "Montserrat";
    color: #8f8f8f;
    font-size: 0.75rem;
    padding: 7%;
  }

  .fa-brands {
    padding: 2%;
  }

  .fa-solid{
    padding: 2%;
  }

  .credits {
    padding: 2%;
  }

  .falign{
    padding: 0% 30%;
  }